<!--====== FOOTER 2 ==========-->
<section>
    <div class="rows">
        <div class="footer tb-space">
            <div class="container">
                <div class="foot-sec2">
                    <div>
                        <div class="row">
                            <div class="col-sm-3 foot-spec foot-com">
                                <h4><span>Holiday</span> Tour & Travels</h4>
                                <p>Penyedia Paket Wisata Dari Berbagai Destinasi di Indonesia Dengan Lebih Dari 300 Paket Yang Sudah Terjual!</p>
                            </div>
                            <div class="col-sm-3 foot-spec foot-com">
                                <h4><span>Address</span> & Contact Info</h4>
                                <p>Jl. Nangka No.36, RT.001/RW.009, Jatiraden, Kec. Jatisampurna, Kota Bks, Jawa Barat 17433</p>
                                <p> <span class="strong">Phone: </span> <span class="highlighted">+62 895 2031 432</span> </p>
                            </div>
                            <div class="col-sm-3 col-md-3 foot-spec foot-com">
                                <h4><span>SUPPORT</span> & HELP</h4>
                                <ul class="two-columns">
                                    <li> <a href="{% url 'travel:about' %}">About Us</a> </li>
                                    <li> <a href="{% url 'travel:about' %}#testimonial">Testimonials</a> </li>
                                    <li> <a href="{% url 'travel:contactus' %}">Contact Us</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 foot-social foot-spec foot-com">
                                <h4><span>Follow</span> with us</h4>
                                <p>Follow akun sosial media Sarayu Travel dan dapatkan info terbarunya</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== FOOTER - COPYRIGHT ==========-->
<section>
    <div class="rows copy">
        <div class="container">
            <p>Copyrights © 2022 Sarayu Travel. All Rights Reserved</p>
        </div>
    </div>
</section>