{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<!--====== LOCATON ==========-->
<section>
    <div class="rows contact-map map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.309254519615!2d106.9191077!3d-6.3539972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6993369105c3ab%3A0xb83d6e5b89970ea1!2sJl.%20Nangka%20No.36%2C%20RT.001%2FRW.009%2C%20Jatiraden%2C%20Kec.%20Jatisampurna%2C%20Kota%20Bks%2C%20Jawa%20Barat%2017433!5e0!3m2!1sid!2sid!4v1652281285625!5m2!1sid!2sid" allowfullscreen></iframe>
    </div>
</section>
{% endblock mainBanner %}

{% block mainContent %}
<section>
    <div class="rows pad-bot-redu tb-space hom2-ban-pack">
        <div class="container">
            <div>
                <!-- TOUR PLACE 1 -->
                <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="0.5s">
                    <!-- IMAGE -->
                    <div class="v_place_img"> <img src="{% static 'images/img/t5.jpg' %}"> </div>
                    <!-- TOUR TITLE & ICONS -->
                    <div class="b_pack rows">
                        <!-- TOUR TITLE -->
                        <div class="col-md-8 col-sm-8">
                            <h4>JOGJA TRIP SARAYU<span class="v_pl_name">(2021)</span></h4> </div>
                        </div>
                    </div>
                </div>
                <!-- TOUR PLACE 2 -->
                <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="1s">
                    <!-- OFFER BRAND -->
                    <!-- IMAGE -->
                    <div class="v_place_img"> <img src="{% static 'images/img/t3.jpg' %}"> </div>
                    <!-- TOUR TITLE & ICONS -->
                    <div class="b_pack rows">
                        <!-- TOUR TITLE -->
                        <div class="col-md-8 col-sm-8">
                            <h4>BALI TRIP SARAYU<span class="v_pl_name">(2020)</span></h4> </div>
                    </div>
                </div>
                <!-- TOUR PLACE 3 -->
                <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="1.5s">
                    <div class="v_place_img"><img src="{% static 'images/img/t2.jpg' %}"> </div>
                    <div class="b_pack rows">
                        <div class="col-md-8 col-sm-8">
                            <h4><a href="tour-details.html">BROMO TRIP SARAYU<span class="v_pl_name">(2022)</span></a></h4> </div>
                        <div class="col-md-4 col-sm-4 pack_icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	
<section class="tourb2-ab-p-3 com-colo-abou" style="margin-bottom: 100px;">
    <div class="container">
        <div class="row tourb2-ab-p3">
            <div class="col-md-4 col-sm-6">
                <div class="tourb2-ab-p3-1 tourb2-ab-p3-com"> <span>{{CountPackages}}</span>
                    <h4>Packages</h4>
                    <p>Terdapat {{CountPackages}} paket travel yang sudah ditampilkan di Sarayu Travel!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="tourb2-ab-p3-1 tourb2-ab-p3-com"> <span>{{CountBookings}}</span>
                    <h4>Bookings</h4>
                    <p>Sudah ada {{CountBookings}} bookingan yang sudah menjadi bagian dari Sarayu Travel!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="tourb2-ab-p3-1 tourb2-ab-p3-com"> <span>{{CountTestimonials}}</span>
                    <h4>Testimonials</h4>
                    <p>Ada {{CountTestimonials}} masukan atau testimonial yang sudah diberikan kepada Sarayu Travel!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== ALL TESTIMONIALS ==========-->
<section>
    <div class="container tb-space inn-page-con-bg pad-bot-redu" id="testimonial">
        <!-- TITLE & DESCRIPTION -->
        <div class="spe-title">
            <h2>Customer <span>Testimonials</span></h2>
            <div class="title-line">
                <div class="tl-1"></div>
                <div class="tl-2"></div>
                <div class="tl-3"></div>
            </div>
            <p>Berikut adalah testimoni dari beberapa pelanggan terbaru Sarayu Travel yang sudah merasakan pengalaman menarik di berbagai destinasi Indonesia. </p>
        </div>
        <div class="p_testimonial">
            {% for testimonial in NewTestimonial %}
            <!--====== TESTIMONIALS ======-->
            <div class="col-md-6 col-sm-6 col-xs-12 b_packages wow fadeInUp">
                <div class="p-tesi">
                    <div class="col-md-3 col-sm-3"> <img src="{% static 'images/img/test.png' %}" alt="">
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <h4>{{testimonial.nameTestimonial}}</h4>
                        <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span></div>
                        <p>{{testimonial.commentTestimonial}}</p>
                        <address>{{testimonial.dateTestimonial|date:'j F Y'}}</address>
                    </div>
                </div>
            </div>
            <!--====== TESTIMONIALS ======-->
            {% endfor %}
        </div>
    </div>
</section>
{% endblock mainContent %}