{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<section>
    <div class="rows inner_banner inner_banner_2">
        <div class="container">
            <h2><span>About us -</span> World's leading tour Booking</h2>
            <ul>
                <li><a href="#inner-page-title">Home</a>
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                <li><a href="#inner-page-title" class="bread-acti">About Us</a>
                </li>
            </ul>
            <p>Book travel packages and enjoy your holidays with distinctive experience</p>
        </div>
    </div>
</section>
{% endblock mainBanner %}

{% block mainContent %}

{% endblock mainContent %}