{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<section>
    <div>
        <div>
            <div>
        <div class="slider fullscreen">
            <ul class="slides">
                <li> <img src="{% static 'images/slider/1.jpg' %}" alt="">
                    <!-- random image -->
                    <div class="caption center-align slid-cap">
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        <h2>This is our big Tagline!</h2>
                        <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Booking</a><a href="#">Booking</a> </div>
                </li>
                <li> <img src="{% static 'images/slider/2.jpg' %}" alt="">
                    <!-- random image -->
                    <div class="caption center-align slid-cap">
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        <h2>This is our big Tagline!</h2>
                        <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Booking</a><a href="#">Booking</a> </div>
                </li>
                <li> <img src="{% static 'images/slider/3.jpg' %}" alt="">
                    <!-- random image -->
                    <div class="caption center-align slid-cap">
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        <h2>This is our big Tagline!</h2>
                        <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Booking</a><a href="#">Booking</a> </div>
                </li>
                <li> <img src="{% static 'images/slider/4.jpg' %}" alt="">
                    <!-- random image -->
                    <div class="caption center-align slid-cap">
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        <h2>This is our big Tagline!</h2>
                        <p>Mauris non placerat nulla. Sed vestibulum quam mauris, et malesuada tortor venenatis at.Aenean euismod sem porta est consectetur posuere. Praesent nisi velit, porttitor ut imperdiet a, pellentesque id mi.</p> <a href="#" class="waves-effect waves-light">Booking</a><a href="#">Booking</a> </div>
                </li>
            </ul>
        </div>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->		

{% endblock mainBanner %}

{% block mainContent %}
<section>
    <div class="rows pad-bot-redu tb-space hom2-ban-pack">
        <div class="container">
            <div>
                <!-- TOUR PLACE 1 -->
                <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="0.5s">
                    <!-- OFFER BRAND -->
                    <div class="band"> <img src="{% static 'images/band.png' %}" alt=""> </div>
                    <!-- IMAGE -->
                    <div class="v_place_img"> <img src="{% static 'images/t5.png' %}" alt="Tour Booking" title="Tour Booking"> </div>
                    <!-- TOUR TITLE & ICONS -->
                    <div class="b_pack rows">
                        <!-- TOUR TITLE -->
                        <div class="col-md-8 col-sm-8">
                            <h4><a href="tour-details.html">Rio de Janeiro<span class="v_pl_name">(Brazil)</span></a></h4> </div>
                        <!-- TOUR ICONS -->
                        <div class="col-md-4 col-sm-4 pack_icon">
                            <ul>
                                <li>
                                    <a href="#"><img src="{% static 'images/clock.png' %}" alt="Date" title="Tour Timing"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/info.png' %}" alt="Details" title="View more details"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/price.png' %}" alt="Price" title="Price"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/map.png' %}" alt="Location" title="Location"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- TOUR PLACE 2 -->
                <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="1s">
                    <!-- OFFER BRAND -->
                    <div class="band"> <img src="{% static 'images/band1.png' %}" alt=""> </div>
                    <!-- IMAGE -->
                    <div class="v_place_img"> <img src="{% static 'images/t1.png' %}" alt="Tour Booking" title="Tour Booking"> </div>
                    <!-- TOUR TITLE & ICONS -->
                    <div class="b_pack rows">
                        <!-- TOUR TITLE -->
                        <div class="col-md-8 col-sm-8">
                            <h4><a href="tour-details.html">Paris<span class="v_pl_name">(England)</span></a></h4> </div>
                        <!-- TOUR ICONS -->
                        <div class="col-md-4 col-sm-4 pack_icon">
                            <ul>
                                <li>
                                    <a href="#"><img src="{% static 'images/clock.png' %}" alt="Date" title="Tour Timing"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/info.png' %}" alt="Details" title="View more details"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/price.png' %}" alt="Price" title="Price"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/map.png' %}" alt="Location" title="Location"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- TOUR PLACE 3 -->
                <div class="col-md-4 col-sm-6 col-xs-12 b_packages wow fadeInUp" data-wow-duration="1.5s">
                    <div class="v_place_img"><img src="{% static 'images/t2.png' %}" alt="Tour Booking" title="Tour Booking"> </div>
                    <div class="b_pack rows">
                        <div class="col-md-8 col-sm-8">
                            <h4><a href="tour-details.html">South India<span class="v_pl_name">(India)</span></a></h4> </div>
                        <div class="col-md-4 col-sm-4 pack_icon">
                            <ul>
                                <li>
                                    <a href="#"><img src="{% static 'images/clock.png' %}" alt="Date" title="Tour Timing"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/info.png' %}" alt="Details" title="View more details"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/price.png' %}" alt="Price" title="Price"> </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{% static 'images/map.png' %}" alt="Location" title="Location"> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	

<!--====== ALL TESTIMONIALS ==========-->
<section>
        <div class="container tb-space inn-page-con-bg pad-bot-redu" id="inner-page-title">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title">
                <h2>Customer <span>Testimonials</span></h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
                <p>World's leading tour and travels Booking website,Over 30,000 packages worldwide.</p>
            </div>
            <div class="p_testimonial">
                <!--====== TESTIMONIALS ======-->
                <div class="col-md-6">
                    <div class="p-tesi">
                        <div class="col-md-3 col-sm-3"> <img src="{% static 'images/testi_img.png' %}" alt=""> </div>
                        <div class="col-md-9 col-sm-9">
                            <h4>Best tour package forever</h4>
                            <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span> </div>
                            <p>Praesent rutrum convallis nisl vitae aliquam. Suspendisse non quam vehicula, tincidunt nibh at, porta orci. Maecenas egestas</p> <address>Illinois, USA</address> </div>
                    </div>
                </div>
                <!--====== TESTIMONIALS ======-->
                <!--====== TESTIMONIALS ======-->
                <div class="col-md-6">
                    <div class="p-tesi">
                        <div class="col-md-3 col-sm-3"> <img src="{% static 'images/testi_img.png' %}" alt=""> </div>
                        <div class="col-md-9 col-sm-9">
                            <h4>Best tour package forever</h4>
                            <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span> </div>
                            <p>Suspendisse tortor lacus, sodales nec elementum id, lobortis in arcu. Praesent sit amet purus mi. Praesent rutrum convallis.</p> <address>Perth, Australia</address> </div>
                    </div>
                </div>
                <!--====== TESTIMONIALS ======-->
                <!--====== TESTIMONIALS ======-->
                <div class="col-md-6">
                    <div class="p-tesi">
                        <div class="col-md-3 col-sm-3"> <img src="{% static 'images/testi_img.png' %}" alt=""> </div>
                        <div class="col-md-9 col-sm-9">
                            <h4>Best tour package forever</h4>
                            <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span> </div>
                            <p>Praesent rutrum convallis nisl vitae aliquam. Suspendisse non quam vehicula, tincidunt nibh at, porta orci. Maecenas egestas</p> <address>Illinois, USA</address> </div>
                    </div>
                </div>
                <!--====== TESTIMONIALS ======-->
                <!--====== TESTIMONIALS ======-->
                <div class="col-md-6">
                    <div class="p-tesi">
                        <div class="col-md-3 col-sm-3"> <img src="{% static 'images/testi_img.png' %}" alt=""> </div>
                        <div class="col-md-9 col-sm-9">
                            <h4>Best tour package forever</h4>
                            <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span> </div>
                            <p>Suspendisse tortor lacus, sodales nec elementum id, lobortis in arcu. Praesent sit amet purus mi. Praesent rutrum convallis.</p> <address>Perth, Australia</address> </div>
                    </div>
                </div>
                <!--====== TESTIMONIALS ======-->
                <!--====== TESTIMONIALS ======-->
                <div class="col-md-6">
                    <div class="p-tesi">
                        <div class="col-md-3 col-sm-3"> <img src="{% static 'images/testi_img.png' %}" alt=""> </div>
                        <div class="col-md-9 col-sm-9">
                            <h4>Best tour package forever</h4>
                            <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span> </div>
                            <p>Praesent rutrum convallis nisl vitae aliquam. Suspendisse non quam vehicula, tincidunt nibh at, porta orci. Maecenas egestas</p> <address>Illinois, USA</address> </div>
                    </div>
                </div>
                <!--====== TESTIMONIALS ======-->
                <!--====== TESTIMONIALS ======-->
                <div class="col-md-6">
                    <div class="p-tesi">
                        <div class="col-md-3 col-sm-3"> <img src="{% static 'images/testi_img.png' %}" alt=""> </div>
                        <div class="col-md-9 col-sm-9">
                            <h4>Best tour package forever</h4>
                            <div><span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span> </div>
                            <p>Suspendisse tortor lacus, sodales nec elementum id, lobortis in arcu. Praesent sit amet purus mi. Praesent rutrum convallis.</p> <address>Perth, Australia</address> </div>
                    </div>
                </div>
                <!--====== TESTIMONIALS ======-->
                <!--====== TESTIMONIALS ======-->
            </div>
        </div>
    </div>
</section>

{% endblock mainContent %}