{% extends 'main.html' %}
{% load static %}
{% load humanize %}

{% block mainBanner %}
<section>
    {% include 'snippets/messages.html' %}
    <div class="rows inner_banner inner_banner_4">
        <div class="container">
            <h2><span>{{DetailPackage.namePackage}} Trip -</span> {{DetailPackage.categoryPackage}}</h2>
            <ul>
                <li><a href="{% url 'travel:index' %}">Home</a>
                </li>
                <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                <li><a href="#inner-page-title" class="bread-acti">{{DetailPackage.namePackage}} Trip ({{DetailPackage.daysPackage}} Days, {{DetailPackage.countNights}} Nights)</a>
                </li>
            </ul>
            <p>Book travel packages and enjoy your holidays with distinctive experience</p>
        </div>
    </div>
</section>
{% endblock mainBanner %}

{% block mainContent %}
<!--====== TOUR DETAILS - BOOKING ==========-->
<section>
    <div class="rows banner_book" id="inner-page-title">
        <div class="container">
            <div class="banner_book_full">
                <ul>
                    <li><b>Location</b> : {{DetailPackage.cityPackage}}, {{DetailPackage.countryPackage}}</li>
                </ul>
            </div>
            <div class="banner_book_1">
                <ul>
                    <li><b>Price</b> : Rp {{DetailPackage.pricePackage|intcomma}}</li>
                    <li><a href="/booking/{{DetailPackage.id}}">Book Now</a> </li>
                    <li><b>Durations</b> : {{DetailPackage.daysPackage}} Days</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--====== TOUR DETAILS ==========-->
<section>
    <div class="rows inn-page-bg com-colo">
        <div class="container inn-page-con-bg tb-space">
            <div class="col-md-9">
                <!--====== TOUR TITLE ==========-->
                <div class="tour_head">
                    <h2>{{DetailPackage.namePackage}} Trip ({{DetailPackage.daysPackage}} Days, {{DetailPackage.countNights}} Nights) <span class="tour_star"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></span><span class="tour_rat">4.5</span></h2> </div>
                <!--====== TOUR DESCRIPTION ==========-->
                <div class="tour_head1">
                    <h3>Description</h3>
                    {{DetailPackage.descriptionPackage|linebreaksbr|truncatechars:500}}
                </div>
                <div class="tour_head1">
                    <h3>Photo Package</h3>
                    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner carousel-inner1" role="listbox">
                            <div class="item active"> <img src="{{DetailPackage.imagePackages}}" alt="{{DetailPackage.namePackage}}" width="460" height="345"> </div>
                        </div>
                    </div>
                </div>
                <!--====== TOUR LOCATION ==========-->
                <div class="tour_head1 tout-map map-container">
                    <h3>Location</h3>
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCKDnhUJCPzHQgLM1_tj_ofsj7H3FxXUeQ&q={{DetailPackage.namePackage}},{{DetailPackage.cityPackage}}+{{DetailPackage.countryPackage}}" allowfullscreen></iframe>
                </div>
                <!--====== ABOUT THE TOUR ==========-->
                <div class="tour_head1">
                    <h3>About The Trip</h3>
                    <table>
                        <tr>
                            <th>Places covered</th>
                        </tr>
                        <tr>
                            <td>{{DetailPackage.cityPackage}}, {{DetailPackage.countryPackage}}</td>
                        </tr>
                    </table><br>
                    <table>
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Total Date</th>
                        </tr>
                        <tr>
                            <td>{{DetailPackage.startPackage}}</td>
                            <td>{{DetailPackage.endPackage}}</td>
                            <td>{{DetailPackage.daysPackage}} Days, {{DetailPackage.countNights}} Nights</td>
                        </tr>
                    </table><br>
                    <table>
                        <tr>
                            <th>Price Package</th>
                            <th>Available</th>
                            <th>Add-on</th>
                        </tr>
                        <tr>
                            <td>Rp {{DetailPackage.pricePackage|intcomma}}</td>
                            <td>{{DetailPackage.availablePackage}} left</td>
                            <td>{% if DetailPackage.addOnPackage is null %}-{% else %}{{DetailPackage.availablePackage}}{% endif %}</td>
                        </tr>
                    </table><br>
                </div>
            </div>
            <div class="col-md-3 tour_r">
                <!--====== TRIP INFORMATION ==========-->
                <div class="tour_right tour_incl tour-ri-com">
                    <h3>Trip Information</h3>
                    <ul>
                        <li>Location: {{DetailPackage.cityPackage}}, {{DetailPackage.countryPackage}}</li>
                        <li>Arrival Date: {{DetailPackage.startPackage|date:'d F, Y'}}</li>
                        <li>Departure Date: {{DetailPackage.endPackage|date:'d F, Y'}}</li>
                        <li>{{DetailPackage.categoryPackage}}</li>
                    </ul>
                </div>
                <!--====== PACKAGE SHARE ==========-->
                <div class="tour_right head_right tour_social tour-ri-com">
                    <h3>Share This Package</h3>
                    <ul>
                        <li><a href="whatsapp://send?text=Sarayu Travel!%0a{{DetailPackage.namePackage}} Trip ({{DetailPackage.daysPackage}} Days, {{DetailPackage.countNights}} Nights)%0a" data-action="share/whatsapp/share"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                    </ul>
                </div>
                <!--====== HELP PACKAGE ==========-->
                <div class="tour_right head_right tour_help tour-ri-com">
                    <h3>Help & Support</h3>
                    <div class="tour_help_1">
                        <h4 class="tour_help_1_call">Call Us Now</h4>
                        <h4><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:6285770860049">+62 857 7086 0049</a></h4> </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock mainContent %}