{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<!--HEADER SECTION-->
<section>
    <div class="v2-hom-search">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <div class="v2-ho-se-ri">
                    <h5>World's leading tour and travels template</h5>
                    <h1>Tour Package booking now!</h1>
                    <p>Experience the various exciting tour and travel packages and Make hotel reservations, find vacation packages, search cheap hotels and events</p>
                    <div class="tourz-hom-ser v2-hom-ser">
                        <ul>
                            <li>
                                <a href="#" class="waves-effect waves-light btn-large tourz-pop-ser-btn"><img src="{% static 'images/icon/2.png' %}" alt=""> Tour</a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect waves-light btn-large tourz-pop-ser-btn"><img src="{% static 'images/icon/31.png' %}" alt=""> Flight</a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect waves-light btn-large tourz-pop-ser-btn"><img src="{% static 'images/icon/30.png' %}" alt=""> Car Rentals</a>
                            </li>
                            <li>
                                <a href="#" class="waves-effect waves-light btn-large tourz-pop-ser-btn"><img src="{% static 'images/icon/1.png' %}" alt=""> Hotel</a>
                            </li>								
                        </ul>
                    </div>
                </div>						
                </div>		
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->
{% endblock mainBanner %}
    
{% block mainContent %}

{% endblock mainContent %}