{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
 <!--HEADER SECTION-->
 <section>
    <div class="tourz-search">
        <div class="container">
            <div class="row">
                <div class="tourz-search-1">
                    <h1>Ayo Booking Sekarang!</h1>
                    <p>Wujudkan pengalaman menarik dengan Sarayu Travel sebagai guide mu!</p>
                    <div class="tourz-hom-ser">
                        <ul>
                            <li>
                                <a href="http://127.0.0.1:8000/package/" class="waves-effect waves-light btn-large tourz-pop-ser-btn wow fadeInUp" data-wow-duration="0.5s"><img src="{% static 'images/icon/2.png' %}" alt=""> Booking</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->
{% endblock mainBanner %}
    
{% block mainContent %}
<section>
    <div class="rows tb-space pad-bot-redu">
        <div class="container">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title">
                <h2>Ada <span>Paket Wisata Terbaru </span>Nih!</h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
                <p>Penyedia Paket Wisata Dari Berbagai Destinasi di Indonesia Dengan Lebih Dari 300 Paket Yang Sudah Terjual!</p>
            </div>
            <!-- NEW PACKAGE GRID -->
            <div class="to-ho-hotel">
                {% for items in NewPackage %}
                <div class="col-md-4">
                    <div class="to-ho-hotel-con">
                        <div class="to-ho-hotel-con-1">
                            <div class="hot-page2-hli-3"> <img src="{% static 'images/hci1.png' %}" alt=""> </div>
                            <div class="hom-hot-av-tic"> Available Tickets: {{items.availablePackage}} </div> <img src="{{items.imagePackages}}" alt=""> </div>
                        <div class="to-ho-hotel-con-23">
                            <div class="to-ho-hotel-con-2"> <a href="#"><h4>{{items.namePackage}}</h4></a> </div>
                            <div class="to-ho-hotel-con-3">
                                <ul>
                                    <li>{{items.cityPackage}}, {{items.countryPackage}}
                                        <div class="dir-rat-star ho-hot-rat-star"> Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
                                    </li>
                                    <li><span class="ho-hot-pri">Rp{{items.pricePackage|floatformat:2}}</span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--====== SECTION: FREE CONSULTANT ==========-->
<section>
    <div class="tb-space tour-consul">
        <div class="container">
            <div class="col-md-6"> <span class="to-con-1">Tetap terhubung dengan kami yuk!</span>
                <h2>Dapatkan penawaran perjalanan terbaik</h2>
                <p>Dapatkan berbagai penawaran dengan harga menarik tiap minggunya dengan cara mengunjungi dan mengikuti akun sosial media Sarayu Travel, akan banyak sekali promo sampai giveaway perjalanan menarik bagi pengikut yang beruntung. Collect moments not things! </p> <span class="to-con-2">Help line: +62 857 7086 0049</span>
                <div class="ho-con-cont"> <a href="hotels-list.html" class="to-con-3 link-btn">Book Now</a> <a href="contact.html" class="to-con-4 link-btn">Contact Now</a> </div>
            </div>
            <div class="col-md-6 ho-vid"> <img src="{% static 'images/img/touch.jpg' %}" alt=""> </div>
        </div>
    </div>
</section>

<section>
    <div class="icon-float">
        <ul>
            <li><a href="https://www.instagram.com/sarayu.travel/" class="ig2"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
            <li><a href="https://api.whatsapp.com/send/?phone=%2B6285770860049&text&app_absent=0" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
            <li><a href="mailto:travelsarayu9@gmail.com" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
        </ul>
    </div>
</section>
{% endblock mainContent %}