{% extends 'main.html' %}
{% load static %}

{% block mainBanner %}
<!-- TOP SEARCH BOX -->
<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                <form class="tourz-search-form">
                    <div class="input-field">
                        <input type="text" id="select-city" class="autocomplete">
                        <label for="select-city">Enter city</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="select-search" class="autocomplete">
                        <label for="select-search" class="search-hotel-type">Search over a million tour and travels, sight seeings, hotels and more</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END TOP SEARCH BOX -->
<!--HEADER SECTION-->
<section>
    <div class="v2-hom-search">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <div class="v2-ho-se-ri">
                    <h5>World's leading tour and travels template</h5>
                    <h1>Tour Package booking now!</h1>
                    <p>Experience the various exciting tour and travel packages and Make hotel reservations, find vacation packages, search cheap hotels and events</p>
                    <div class="tourz-hom-ser v2-hom-ser">
                        <ul>
                            <li>
                                <a href="{% url 'travel:package' %}" class="waves-effect waves-light btn-large tourz-pop-ser-btn"><img src="{% static 'images/icon/2.png' %}" alt=""> Tour</a>
                            </li>							
                        </ul>
                    </div>
                </div>						
                </div>		
            </div>
        </div>
    </div>
</section>
<!--END HEADER SECTION-->
{% endblock mainBanner %}
    
{% block mainContent %}
<section>
    <div class="rows tb-space pad-bot-redu">
        <div class="container">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title">
                <h2><span>New</span> Package tour! </h2>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
                <p>World's leading Hotel Booking website,Over 30,000 Hotel rooms worldwide. Book Hotel rooms and enjoy your holidays with distinctive experience</p>
            </div>
            <!-- NEW PACKAGE GRID -->
            <div class="to-ho-hotel">
                {% for items in NewPackage %}
                <div class="col-md-4">
                    <div class="to-ho-hotel-con">
                        <div class="to-ho-hotel-con-1">
                            <div class="hot-page2-hli-3"> <img src="{% static 'images/hci1.png' %}" alt=""> </div>
                            <div class="hom-hot-av-tic"> Available Tickets: {{items.availablePackage}} </div> <img src="{{items.imagePackages}}" alt=""> </div>
                        <div class="to-ho-hotel-con-23">
                            <div class="to-ho-hotel-con-2"> <a href="#"><h4>{{items.namePackage}}</h4></a> </div>
                            <div class="to-ho-hotel-con-3">
                                <ul>
                                    <li>{{items.cityPackage}}, {{items.countryPackage}}
                                        <div class="dir-rat-star ho-hot-rat-star"> Rating: <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i> </div>
                                    </li>
                                    <li><span class="ho-hot-pri">Rp{{items.pricePackage|floatformat:2}}</span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--====== SECTION: FREE CONSULTANT ==========-->
<section>
    <div class="tb-space tour-consul">
        <div class="container">
            <div class="col-md-6"> <span class="to-con-1">Get in touch with us</span>
                <h2>Get best travel deals</h2>
                <p>Get best travel deals for hotels, holidays, trains.Donec eget odio a nunc lacinia rhoncus. Vivamus dignissim magna quis nisl fermentum porttitor. Maecenas venenatis mattis dui at pharetra.Nullam rutrum odio eu viverra accumsan. Nam orci elit, scelerisque eget dui non, sagittis tristique metus. Fusce nec nulla dapibus, fringilla nulla eu, vehicula odio. </p> <span class="to-con-2">Help line: +001 21745 12345</span>
                <div class="ho-con-cont"> <a href="hotels-list.html" class="to-con-3 link-btn">Book Now</a> <a href="contact.html" class="to-con-4 link-btn">Contact Now</a> </div>
            </div>
            <div class="col-md-6 ho-vid"> <img src="{% static 'images/video.png' %}" alt=""> </div>
        </div>
    </div>
</section>
{% endblock mainContent %}