{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Type}}</title>
    {% include 'snippets/styles.html' %}
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    {% include 'snippets/mobilemenu.html' %}
    {% include 'snippets/navbar.html' %}
	
	{% block mainBanner %}
	{% endblock mainBanner %}

    {% block mainContent %}
	{% endblock mainContent %}
		
	{% include 'snippets/footer.html' %}
    {% include 'snippets/scripts.html' %}
</body>

</html>